body {
background-color: blue;
}

.siteContainer{
display: flex;
flex-direction: column;
align-items: center;
}

.header {
color: red;
font-size: 60px;
}

span {
font-size: 30px;
color: white;
text-shadow: 3px 3px 1px black;
}
